@model RedeSocial.Web.Models.Account.AccountViewModel

@{
    ViewData["Title"] = "Perfil";
}
<link rel="stylesheet" href="~/css/perfil.css" />


<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://placeimg.com/850/280/tech" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="https://robohash.org/@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value)?size=180x180&bgset=bg1" width="180" height="180" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.Nome @Model.SobreNome</h1>
            <h6> @Model.UserName</h6>

            <ul class="d-flex flex-row">
                <li class="twPc-ArrangeSizeFit mr-3">
                    <a href="#" title="Postagens">
                        <span class="twPc-StatLabel twPc-block">Postagens</span>
                        <span class="twPc-StatValue">@Model.IDs_Postagens.Count</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit mr-3">
                    <a href="#" title="Seguindo">
                        <span class="twPc-StatLabel twPc-block">Seguindo</span>
                        <span class="twPc-StatValue">@Model.IDs_Seguindo.Count</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a href="#" title="Seguidores">
                        <span class="twPc-StatLabel twPc-block">Seguidores</span>
                        <span class="twPc-StatValue">@Model.IDs_Seguidores.Count</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr />

    @foreach (var item in Model.IDs_Postagens)
    {
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://robohash.org/@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value)?size=50x50&bgset=bg1" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0"></div>
                            <div class="h7 text-muted">@Model.Nome @Model.SobreNome</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.DataPostagem)</div>

                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Descricao)

                    @if (!string.IsNullOrWhiteSpace(item.FotoPostUrl))
                    {
                        <div>
                            <img width="200" height="200" src="@Html.DisplayFor(modelItem => item.FotoPostUrl)" alt="">
                        </div>
                    }
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Curtir</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comentar</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Compartilhar</a>
            </div>
        </div>
        <hr />
    }
</div> 